@import 'styles/vars';

.RecordRecyclingAmount {
  padding: 20px;
  width: 100%;
  &-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 20px;
      margin-right: 10px;
    }
    font-size: 18px;
  }
  &-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    &-container {
      background-color: white;
      padding: 20px 10px;
      border-radius: 5px;
      margin: 10px 0;
      .form-control {
        border-radius: 25px;
      }
      .form-label {
        font-size: 14px;
      }
    }
    &-send {
      background-color: $primary;
      border-radius: 25px;
      border: none;
      padding: 5px 0;
      color: white;
      transition: 0.5s;
      outline: none;
      &:active {
        transform: scale(0.9);
      }
    }
  }
}
