@import 'styles/vars';
.maxsize {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .modal-content {
    max-width: 600px;
    margin: auto;
  }
}
.SignupContainer {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba($primary, 0.2);
  padding-bottom: 25px;
  img {
    width: 120px;
    margin-top: -50px;
    margin-bottom: 30px;
  }
  &-recico {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    img {
      width: 20%;
      max-width: 25px;
      margin: 0 10px 0 0;
      padding: 0;
    }
    span {
      width: 80%;
    }
    p {
      font-size: 12px;
      width: 100%;
      text-align: center;
      color: rgba(black, 0.5);
    }
  }
  form {
    input {
      border-radius: 25px;
      font-size: 14px;
      width: 250px; 
      &::placeholder {
        color: rgba($primary, 0.7);
      }
    }
    button {
      font-size: 14px;
      padding: 5px 40px;
    }
  }
}
