@import 'src/styles/vars';

.ContainerDev {
  background-image: url('../../assets/img/background-members.svg');
  background-repeat: repeat;
  padding: 80px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    border: 3px solid $primary;
  }
  h3 {
    width: 100%;
    text-align: center;
  }
  &-skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    span {
      margin: 5px;
      background-color: $primary;
      border-radius: 3px;
      color: white;
      padding: 3px 10px;
      font-size: 12px;
    }
  }
  p {
    padding: 20px 0 0 0;
    text-align: justify;
  }
  &-social {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    a {
      background-color: rgba($primary, 0.4);
      margin: 0 10px 0 0;
      padding: 0 10px;
      transition: 0.5s;
      will-change: transform;
      text-decoration: none;
      border-radius: 3px;
      &:active {
        transform: scale(0.9);
      }
    }
  }
}
