@import 'styles/vars';
.ResultsContainer {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: ceter;
  flex-direction: column;
  padding: 20px;
  background-color: rgba($blue, 0.7);
  max-width: 400px;
  margin: auto;
  h3 {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 20px;
  }
  &-results {
    margin-top: 30px;
    background-color: rgba(white, 0.5);
    border-radius: 5px;
    padding: 0 20px;
    &-item {
      &:first-child {
        margin-top: 15px;
      }
      &:last-child {
        margin-bottom: 20px;
      }
      figure {
        width: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 50%;
        margin: 0;
        img {
          width: 80px;
          height: 80px;
        }
      }
      width: 100%;
      margin: 40px 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      &-info {
        padding-left: 15px;
        font-size: 14px;
        span {
          display: block;
          font-weight: normal;
        }
        &-position {
          font-weight: bold !important;
          font-size: 18px;
          margin: 0;
        }
        &-award {
          font-size: 12px;
          color: rgba(black, 0.4);
          font-style: italic;
        }
        &-recycle {
          background-color: #156c80;
          color: white;
          padding: 3px 5px;
          border-radius: 5px;
          font-size: 12 px;
          width: auto;
          text-align: center;
          margin: -10px 0 0 0;
        }
      }
    }
  }
  a {
    border: 1px solid white;
    color: white;
    margin: 30px;
    border-radius: 5px;
    text-align: center;
    padding: 5px 0;
  }
}
