@import './vars';

@import '~bootstrap/scss/bootstrap';

@each $breakpoint, $max-width in $grid-breakpoints {
  @include media-breakpoint-up($breakpoint) {
    .bg-#{$breakpoint}-primary {
      background-color: $primary !important;
    }
    .bg-#{$breakpoint}-secondary {
      background-color: $secondary !important;
    }
    .bg-#{$breakpoint}-unset {
      background-color: unset !important;
    }
  }
}

.bg-unset {
  background-color: unset !important;
}

.btn {
  border-radius: 25px;
}
