@import 'styles/vars';

.HomeContainer {
  padding: 20px 20px;
  &-title {
    font-size: 24px;
    margin-top: 20px;
  }
  &-welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-width: 150px;
      width: 20%;
    }
    p {
      padding: 0 15px;
      margin-top: 15px;
      color: rgba(black, 0.5);
    }
    margin-bottom: 30px;
  }
  &-newTournament {
    background-color: rgba($primary, 0.5);
    color: white;
    padding: 8px 20px;
    border-radius: 25px;
    margin-top: 20px !important;
    text-decoration: none !important;
    transition: 0.5s;
    display: block;
    &:active {
      text-decoration: none;
      transform: scale(0.9);
      color: white;
      background-color: rgba($primary, 1);
    }
    &:hover {
      background-color: rgba($primary, 0.8);
      color: white;
    }
  }
  &-addData {
    background-color: rgba($blue, 0.5);
    color: white;
    padding: 8px 20px;
    border-radius: 25px;
    margin-top: 20px !important;
    text-decoration: none !important;
    transition: 0.5s;
    display: block;
    &:hover {
      background-color: rgba($blue, 0.8);
      color: white;
    }
    &:active {
      background-color: rgba($blue, 1);
      text-decoration: none;
      transform: scale(0.9);
      color: white;
    }
  }
}
