@import 'styles/vars';

.NewTournamentContainer {
  padding: 20px;
  width: 100%;
  &-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 20px;
      margin-right: 10px;
    }
    font-size: 18px;
  }
  &-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    &-container {
      background-color: white;
      padding: 20px 10px;
      border-radius: 5px;
      margin: 10px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      span {
        width: 100%;
        display: block;
        padding: 0 10px;
        color: rgba(black, 0.7);
        margin-bottom: 10px;
      }
      label {
        margin: 0 0 -10px 0;
        padding: 0;
        width: calc(100% - 40px);
        font-size: 10px;
        color: rgba($primary, 0.5);
      }
      input {
        border: 1px solid rgba($primary, 0.5);
        width: calc(100% - 20px);
        margin: 10px 0;
        border-radius: 25px;
        padding: 4px 15px;
        outline: none;
        font-size: 14px;
        &::placeholder {
          color: rgba(black, 0.5);
          font-size: 14px;
        }
      }
    }
    &-send {
      background-color: $primary;
      border-radius: 25px;
      border: none;
      padding: 5px 0;
      color: white;
      transition: 0.5s;
      outline: none;
      &:active {
        transform: scale(0.9);
      }
    }
  }
}
