@import 'styles/vars';

.BodyApp {
  background-color: $secondary;
  min-height: calc(100vh) !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-image: url('../../assets/img/background-app.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  padding-bottom: 50px;
  max-width: 400px;
  margin: auto;
}

.MenuApp {
  background-color: $primary;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  width: 100%;
  position: fixed;
  bottom: 0;
  max-width: 400px;
  &-item {
    color: white;
    img {
      width: 25px;
      height: 25px;
    }
  }
}
