@import 'src/styles/vars';
.Header {
  background-color: white !important;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  max-width: 1024px;
  margin: auto;
  &-container {
    a {
      margin: 0;
      padding: 0 10px;
      font-size: 16px;
      font-weight: bold;
      color: $primary !important;
      padding: 5px 0;
      img {
        width: 30px;
        margin-right: 15px;
      }
    }
  }
  .navbar-toggler {
    border: none;
    &:focus {
      outline: none;
    }
  }
  .navbar-nav {
    border: 1px solid rgba($primary, 0.5);
    border-radius: 4px;
    a {
      text-align: right;
      padding: 10px 20px;
      color: rgba($primary, 0.8) !important;
    }
  }
  @media (min-width: 998px) {
    position: static;
    margin: 0;
  }
}
