@import 'styles/vars';

.div-container {
    background-color: $secondary;
    padding: 5%;
    min-height: 100vh;  
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
    display: block;
    width: 100%;
}