@import 'styles/vars';

.AwardsContainer {
  width: 100%;
  padding: 15px;
  &-title {
    font-size: 36px;
    margin-top: 20px;
    text-align: center;
  }
  &-itemsContainer {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    &-first {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: rgba(white, 0.5);
      padding: 10px;
      border-radius: 5px;
      margin: 10px;
      figure {
        border-radius: 50%;
        overflow: hidden;
        width: 70%;
        img {
          width: 100%;
        }
      }
      &-title {
        font-weight: bold;
        margin: -10px 0 0 0;
      }
      &-award {
        font-size: 14px;
        color: $primary;
        text-align: center;
        margin: 8px 0;
      }
      &-description {
        color: rgba(black, 0.5);
        font-size: 12px;
        text-align: justify;
      }
    }
    &-second,
    &-three {
      width: 43%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      background-color: rgba(white, 0.5);
      padding: 10px;
      border-radius: 5px;
      margin: 5px;
      figure {
        width: 70%;
        border-radius: 50%;
        overflow: hidden;
        img {
          width: 100%;
        }
      }
    }
  }
  &-results {
    width: 100%;
    p {
      padding: 40px 20px;
      color: rgba(black, 0.7);
      text-align: center;
      a {
        background-color: $blue;
        color: white;
        padding: 2px 5px;
        border-radius: 5px;
        margin: 0 5px;
        text-decoration: none;
        transition: 0.5s;
        &:active {
          transform: scale(0.9);
        }
      }
    }
  }
}
