@import 'src/styles/vars';

.FooterLanding {
  background-color: $primary;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url('../../assets/img/background-footer.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: white;
  h5 {
    text-align: center;
    margin: 10px 0;
  }
  span {
    max-width: 250px;
    text-align: center;
    font-weight: lighter;
  }
  &-socialMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px 20px;
      transition: 0.5s;
      border-radius: 25px;
      &:active {
        transform: scale(0.9);
      }
      &:hover {
        background-color: rgba(white, 0.2);
      }
      a {
        color: white;
        text-decoration: none;
      }
      img {
        width: 18px;
        margin-right: 5px;
      }
    }
  }
  &-about {
    p {
      text-align: center;
    }
    &-members {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: row;
      a {
        color: white;
        margin: 0 10px;
        font-weight: lighter;
      }
    }
  }
}
