@import 'styles/vars';

.btn-register {
  background-color: #a3b6a4;
  border-color: #a3b6a4;
}

.img-recycling-family {
  height: 250px;
}

.img-item {
  width: 100%;
  max-width: 250px;
}

.img-awards {
  max-height: 100px;
}

.resume {
  padding: 20px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  p {
    font-size: 14px;
    width: 90%;
    span {
      font-size: 20px;
      display: block;
      font-weight: bold;
    }
  }
}
.buttonContainer {
  button {
    border-radius: 25px;
  }
}
.firstComponent {
  padding-top: 70px;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  &-text {
    max-width: 300px;
  }
}

.Benefits {
  &-title {
    text-align: center;
    margin-top: 30px;
  }
  &-item {
    margin: 15px 0;
    box-shadow: 2px 2px 5px 1px rgba($primary, 0.2);
    overflow: hidden;
    img {
      width: 100%;
      opacity: 1;
    }
    &-container {
      padding: 10px;
      h4 {
        font-size: 18px;
      }
      p {
        color: black;
        font-size: 14px;
      }
    }
  }
  @media (min-width: 698px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    &-title {
      width: 100%;
      margin-bottom: 40px;
    }
    &-item {
      padding: 20px 0;
      margin: 30px 0;
      overflow: inherit;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
      max-width: 400px;
      transition: 0.5s;
      img {
        width: 250px;
        box-shadow: 2px 2px 5px 1px rgba($primary, 0.4);
        border-radius: 5px;
        margin-top: -40px;
        margin-bottom: 20px;
        transition: 0.5s;
        filter: grayscale(50%);
      }
      &:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        img {
          filter: grayscale(0%);
        }
      }
      &-container {
        padding: 15px;
      }
    }
  }
}
.bigText {
  font-size: 30px;
  width: 100%;
  font-weight: bold;
  margin: 50px 0;
  span {
    text-decoration: underline;
    line-height: 2;
  }
  @media (min-width: 698px) {
    font-size: 46px;
    width: 85%;
  }
}
.Awards {
  background-color: $blue;
  border-radius: 5px;
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-title {
    color: white;
    text-align: center;
    width: 100%;
    font-size: 22px;
    padding: 10px 20px;
  }
  img {
    width: 100%;
    margin: auto;
  }
  &-itemContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    &-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;
      max-width: 150px;
      margin: 0 30px;
      span {
        color: white;
        text-align: center;
      }
      p {
        font-size: 11px;
        text-align: center;
        color: rgba(black, 0.7);
      }
    }
  }
  .smallIcon {
    display: none;
    img {
      width: 60%;
    }
  }
  @media (min-width: 698px) {
    .smallIcon {
      display: flex;
    }
    &-itemContainer {
      padding: 20px 0;
      &-item {
        padding: 20px;
        transition: 0.5s;
        &:hover {
          -webkit-transform: scale(1.1);
          transform: scale(1.1);
          background-color: rgba(white, 0.3);
          border-radius: 5px;
          img {
            filter: grayscale(0%);
          }
        }
      }
    }
  }
}
