@import 'styles/vars';
.NotFoundContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px 0;
  img {
    width: 50%;
    margin: auto;
    max-width: 450px;
  }
  h4 {
    font-size: 40px;
    font-weight: bold;
    margin: 25px 0;
  }
  p {
    a {
      border: 1px solid $primary;
      padding: 5px 10px;
      border-radius: 3px;
      margin: 0 10px;
      transition: 0.5s;
      &:active {
        transform: scale(0.9);
      }
    }
  }
}
