@import 'src/styles/vars';

.PersonalizedModal {
  margin: 0;
  height: 100%;
  align-items: stretch;
  max-width: unset;
  .Footer {
    background-color: $primary;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border: none;
    &-button {
      width: 50%;
      background-color: rgba(white, 0.2);
      margin-bottom: 20px;
      border-radius: 25px;
    }
  }
  .Body {
    padding: 0;
  }
  .modal-dialog {
    margin: 0 !important;
  }
  .modal-content {
    background-color: $primary;
    height: 100%;
  }
  @media (min-width: 640px) {
    .Body {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
