@import 'src/styles/vars';

.Item {
  background-image: url('../../assets/img/background-onboarding.png');
  width: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $primary;
  max-width: 400px;
  margin: auto;
  &-icon {
    width: 40%;
    margin: 20px auto;
    max-height: 250px;
  }
  &-container {
    background-color: $primary;
    h2 {
      color: white;
      text-align: center;
      margin: 10px auto;
      font-size: 18px;
    }
    p {
      text-align: justify;
      padding: 0 20px;
      color: white;
      max-height: 200px;
      width: 100%;
    }
  }
  @media (min-width: 640px) {
    max-width: 500px;
    border-radius: 15px;
    overflow: hidden;
    &-container {
      background-color: rgba(black, 0.5);
    }
  }
}
